<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fira+Sans")
        link(rel="stylesheet", href="main.css")
        title Hangar 28 - Car Detailing
    body
        


        .car#car.hide.dirty.dirty_1
            img(src="./assets/car.png", alt="")#carNormal.carNormal
            img(src="./assets/car_2@2x.png", alt="")#carNormal.cleanCar
            img(src="./assets/interior@2x.png", alt="")#carInterior.hidden
            img(src="./assets/motor@2x.png", alt="")#carMotor.hidden
            img(src="./assets/dirt@2x.png", alt="")#carDirty.dirt
            img(src="./assets/dirt@2x.png", alt="").dirt_1
            img(src="./assets/dirt@2x.png", alt="")#carDirty.dirt_1
            img(src="./assets/shine@2x.png", alt="").shine_1.shine
            img(src="./assets/shine@2x.png", alt="").shine_2.shine
            img(src="./assets/shine@2x.png", alt="").shine_3.shine
        .mainLogo#mainLogo
            img(src="./assets/logo-hangar.jpg", alt="")
        .overlay#overlay
        .contactSection#contactSection
            span.close#closeContact
            h2 Reserva con nosotros
            h2 <?php echo get_theme_mod( 'titulo_reserva' ); ?>
            .contactContent <?php echo do_shortcode( '[contact-form-7 id="271" title="Formulario de reserva"]' );?>
	
            .contactContent
                #wpcf7-f271-o1.wpcf7(role="form", lang="es-ES", dir="ltr")
                    .screen-reader-response
                    form.wpcf7-form(action="/#wpcf7-f271-o1", method="post", novalidate="novalidate")
                        div(style="display: none;")
                            input(type="hidden", name="_wpcf7", value="271")
                            input(type="hidden", name="_wpcf7_version", value="4.9")
                            input(type="hidden", name="_wpcf7_locale", value="es_ES")
                            input(type="hidden", name="_wpcf7_unit_tag", value="wpcf7-f271-o1")
                            input(type="hidden", name="_wpcf7_container_post", value="0")
                        p
                            label
                                | Nombre (requerido)
                                br
                                span.wpcf7-form-control-wrap.your-name
                                    input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required(type="text", name="your-name", value="", size="40", aria-required="true", aria-invalid="false")
                        p
                            label
                                | Tu correo electrónico (requerido)
                                br
                                span.wpcf7-form-control-wrap.your-email
                                    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email(type="email", name="your-email", value="", size="40", aria-required="true", aria-invalid="false")
                        p
                            label
                                | Asunto
                                br
                                span.wpcf7-form-control-wrap.your-subject
                                    input.wpcf7-form-control.wpcf7-text(type="text", name="your-subject", value="", size="40", aria-invalid="false")
                        p
                            label
                                | Mensaje
                                br
                                span.wpcf7-form-control-wrap.your-message
                                    textarea.wpcf7-form-control.wpcf7-textarea(name="your-message", cols="40", rows="10", aria-invalid="false")
                        p
                            input.wpcf7-form-control.wpcf7-submit(type="submit", value="Enviar")
                        .wpcf7-response-output.wpcf7-display-none


        main#fullpage
            .section.section_0.process.intro#inicio
                .processScene.videoIntroCont
                    iframe(
                        class="videoIntro"
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/QfSkSEkKYqA?rel=0&autoplay=0&color=white&loop=1&controls=0" 
                        frameborder="0"
                        allowfullscreen
                    ) 
                a.btn.bookingButton <?php echo get_theme_mod( 'texto_boton' ); ?>

            .section.section_1.process.receipt#recibo
                .processScene
                    span.imgAsset.man.manReceipt
                        img(src="./assets/man-receipt@2x.png", alt="")
                    span.imgAsset.tableReceipt.table
                        img(src="./assets/table-receipt@2x.png", alt="")
                    span.imgAsset.coneReceiptRight.element
                        img(src="./assets/cone@2x.png", alt="")
                    span.imgAsset.coneReceiptLeft.element
                        img(src="./assets/cone@2x.png", alt="")
                .processContent
                    span.imgAsset.processIcon
                        img(src="./assets/icon-receipt@2x.png", alt="")
                    h3.processTitle <?php echo get_theme_mod( 'titulo_recibo' ); ?>
                    p.processDescription <?php echo get_theme_mod( 'texto_recibo' ); ?>
                    a.btn.bookingButton <?php echo get_theme_mod( 'texto_boton' ); ?>
            
            .section.section_2.process.washed#lavado
                .processScene
                    span.imgAsset.machineWash.machine
                        span.waterLoop
                        img(src="./assets/man-wash@2x.png", alt="")
                .processContent
                    span.processIcon
                        img(src="./assets/icon-wash@2x.png", alt="")
                    h3.processTitle <?php echo get_theme_mod( 'titulo_lavado' ); ?>
                    p.processDescription <?php echo get_theme_mod( 'texto_lavado' ); ?>
                    a.btn.bookingButton <?php echo get_theme_mod( 'texto_boton' ); ?>


            .section.section_3.process.shampoo#shampoo
                .processScene
                    span.imgAsset.machineShampoo.machine
                        span.shampooLoop
                        img(src="./assets/shampoo-machine@2x.png", alt="")
                    span.imgAsset.man.manShampoo
                        img(src="./assets/man-shampoo@2x.png", alt="")
                    //span.imgAsset.man.manShampoo_1
                        img(src="./assets/man-shampoo_1@2x.png", alt="")
                .processContent
                    span.processIcon
                        img(src="./assets/icon-shampoo@2x.png", alt="")
                    h3.processTitle <?php echo get_theme_mod( 'titulo_shampoo' ); ?>
                    p.processDescription <?php echo get_theme_mod( 'texto_shampoo' ); ?>
                    a.btn.bookingButton <?php echo get_theme_mod( 'texto_boton' ); ?>
                    
                    

            .section.section_4.process.decontamination#descontaminacion
                .processScene
                    span.imgAsset.machinePaint.machine
                        img(src="./assets/paint-machine@2x.png", alt="")
                    span.imgAsset.man.manPaint
                        img(src="./assets/man-paint@2x.png", alt="")
                .processContent
                    span.processIcon
                        img(src="./assets/icon-paint@2x.png", alt="")
                    h3.processTitle <?php echo get_theme_mod( 'titulo_pintura' ); ?>
                    p.processDescription <?php echo get_theme_mod( 'texto_pintura' ); ?>
                    a.btn.bookingButton <?php echo get_theme_mod( 'texto_boton' ); ?>
                    
                    

            .section.section_5.process.brightness#brillo
                .processScene
                   
                    span.imgAsset.man.manShine
                        img(src="./assets/man-shine@2x.png", alt="")
                .processContent
                    span.processIcon
                        img(src="./assets/icon-shine@2x.png", alt="")
                    h3.processTitle <?php echo get_theme_mod( 'titulo_brillo' ); ?>
                    p.processDescription <?php echo get_theme_mod( 'texto_brillo' ); ?>
                    a.btn.bookingButton <?php echo get_theme_mod( 'texto_boton' ); ?>
                    
                    

            .section.section_6.process.protection#proteccion
                .processScene
                    span.imgAsset.paint.element
                        img(src="./assets/paint-cont@2x.png", alt="")
                    span.imgAsset.man.manProtection
                        img(src="./assets/man-protection@2x.png", alt="")
                .processContent
                    span.processIcon
                        img(src="./assets/icon-protection@2x.png", alt="")
                    h3.processTitle <?php echo get_theme_mod( 'titulo_proteccion' ); ?>
                    p.processDescription <?php echo get_theme_mod( 'texto_proteccion' ); ?>
                    a.btn.bookingButton <?php echo get_theme_mod( 'texto_boton' ); ?>
                    
                    

            .section.section_7.process.inside#interior
                .processScene
                    span.imgAsset.steerWheel
                        img(src="./assets/interior-steer@2x.png", alt="")
                    span.imgAsset.steerPanel
                        img(src="./assets/interior-panel@2x.png", alt="")
                    span.imgAsset.man.manInterior
                        img(src="./assets/man-interior@2x.png", alt="")
                .processContent
                    span.processIcon
                        img(src="./assets/icon-interior@2x.png", alt="")
                    h3.processTitle <?php echo get_theme_mod( 'titulo_interior' ); ?>
                    p.processDescription <?php echo get_theme_mod( 'texto_interior' ); ?>
                    a.btn.bookingButton <?php echo get_theme_mod( 'texto_boton' ); ?>
                    
                    

            .section.section_8.process.motor#motor
                .processScene
                    span.imgAsset.motorTable.table
                        img(src="./assets/motor-table@2x.png", alt="")
                    span.imgAsset.man.manMotor
                        img(src="./assets/man-motor@2x.png", alt="")
                .processContent
                    span.processIcon
                        img(src="./assets/icon-motor@2x.png", alt="")
                    h3.processTitle <?php echo get_theme_mod( 'titulo_motor' ); ?>
                    p.processDescription <?php echo get_theme_mod( 'texto_motor' ); ?>
                    a.btn.bookingButton <?php echo get_theme_mod( 'texto_boton' ); ?>
            
            .section.section_9.process.booking#reserva
                .processScene
                    a.btn.bookingButton <?php echo get_theme_mod( 'texto_boton' ); ?>
                    
                    
                    

        script(type="text/javascript", src="main.js")
        






