<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fira+Sans")
        link(rel="stylesheet", href="main.css")
        title Hangar 28 - Car Detailing
    body
        


        .car#car.hide.dirty.dirty_1
            img(src="./assets/car.png", alt="")#carNormal
            img(src="./assets/interior@2x.png", alt="")#carInterior.hidden
            img(src="./assets/motor@2x.png", alt="")#carMotor.hidden
            img(src="./assets/dirt@2x.png", alt="")#carDirty.dirt
            img(src="./assets/dirt@2x.png", alt="").dirt_1
            img(src="./assets/dirt@2x.png", alt="")#carDirty.dirt_1
        .mainLogo#mainLogo
            img(src="./assets/logo-hangar.jpg", alt="")
        main#fullpage
            .section.section_0.process.intro#inicio
                .processScene.videoIntroCont
                    iframe(
                        class="videoIntro"
                        width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/QfSkSEkKYqA?rel=0&autoplay=0&color=white&loop=1&controls=0" 
                        frameborder="0"
                        allowfullscreen
                    ) 
                a(href='#').btn Reservar Ahora

            .section.section_1.process.receipt#recibo
                .processScene
                    span.imgAsset.man.manReceipt
                        img(src="./assets/man-receipt@2x.png", alt="")
                    span.imgAsset.tableReceipt.table
                        img(src="./assets/table-receipt@2x.png", alt="")
                    span.imgAsset.coneReceiptRight
                        img(src="./assets/cone@2x.png", alt="")
                    span.imgAsset.coneReceiptLeft
                        img(src="./assets/cone@2x.png", alt="")
                .processContent
                    span.imgAsset.processIcon
                        img(src="./assets/icon-receipt@2x.png", alt="")
                    h3.processTitle Recibo
                    p.processDescription Establecemos las necesidades y prioridades para su automovil ofreciendo una cotizacion muy aproximada a la definitiva. Agendamos una reunión para hacer una inspección visual de vehículo y determinar qué tipo de trabajo es el más apropiado, tipo de productos y maquinas que debemos utilizar para lograr los mejores resultados, y el tiempo que se tomará llevar acabo dicho trabajo.

                    //a(href='#').btn Reservar Ahora
            
            .section.section_2.process.washed#lavado
                .processScene
                    span.imgAsset.machineWash.machine
                        span.waterLoop
                        img(src="./assets/man-wash@2x.png", alt="")
                .processContent
                    span.processIcon
                        img(src="./assets/icon-wash@2x.png", alt="")
                    h3.processTitle Lavado
                    p.processDescription El vehiculo que entra para un simple lavado, o a un lavado para posterior aplicarle cualquiera de nuestros procesos de embellecimiento, o restauración de pintura, recibe el mismo tratamiento. Se humedece  con agua pura, aplicando presión sobre las partes bajas donde más se acumulan agentes contaminantes como barro y tierra. 
                //.slide
                    h3.processTitle Lavado
                    p.processDescription


            .section.section_3.process.shampoo#shampoo
                .processScene
                    span.imgAsset.machineShampoo.machine
                        span.shampooLoop
                        img(src="./assets/shampoo-machine@2x.png", alt="")
                    span.imgAsset.man.manShampoo
                        img(src="./assets/man-shampoo@2x.png", alt="")
                    //span.imgAsset.man.manShampoo_1
                        img(src="./assets/man-shampoo_1@2x.png", alt="")
                .processContent
                    span.processIcon
                        img(src="./assets/icon-shampoo@2x.png", alt="")
                    h3.processTitle Shampoo
                    p.processDescription Aplicamos shampoo con maquina, de arriba hacia abajo de manera tal que la suciedad de la parte inferior no contamine la superior. Con toallas de microfibra; se distribuye el shampoo en todo el carro, desprendiendo así la totalidad de los contaminantes. Finalmente se enjuaga y se seca utilizando una espátula de silicona que ayuda a que el agua escurra y asi mismo cualquier residuo de mugre aderido que pueda lastimar la pintura al pasar la toalla para secado. Toalla que se utilizará para secar en su totalidad el automovil. Cómo ultimo paso se soplan con aire a presión los puntos donde quede agua acumulada. Si el vehículo entró únicamente para lavado, se aplicará cera líquida para proteger la pintura de los rayos solares y partículas dañinas que se encuentran en el medio ambiente. 

            .section.section_4.process.decontamination#descontaminacion
                .processScene
                    span.imgAsset.machinePaint.machine
                        img(src="./assets/paint-machine@2x.png", alt="")
                    span.imgAsset.man.manPaint
                        img(src="./assets/man-paint@2x.png", alt="")
                .processContent
                    span.processIcon
                        img(src="./assets/icon-paint@2x.png", alt="")
                    h3.processTitle Descontaminación y pulida
                    p.processDescription Una vez lavado el automóvil al que se le vaya a hacer cualquier tipo de proceso a su pintura, esta deberá ser descontaminada; trabajo que se logra pasando sobre esta, una arcilla fabricada especialmente para este tipo de trabajo. Con esta misma vamos a desprender todas las partículas que se han pegado a las superficie y que no salen con la simple lavada, generando pérdida de brillo y hasta la misma pérdida del color original. Con el propósito de conseguir el mejor brillo de un color, las piezas a tratar deben ser pulidas con cremas de diferente nivel abrasivo. Entre más deteriorada esté la pintura y su brillo, más abrasivo debería ser el producto a utilizar. Incluso se podría llegar a matizar el barniz que cubre el color con lija de granulo muy delgado, para así eliminar la capa quemada por el sol y el  paso de los años.


            .section.section_5.process.brightness#brillo
                .processScene
                    span.imgAsset.shine
                        img(src="./assets/shine@2x.png", alt="")
                    span.imgAsset.man.manShine
                        img(src="./assets/man-paint@2x.png", alt="")
                .processContent
                    span.processIcon
                        img(src="./assets/icon-shine@2x.png", alt="")
                    h3.processTitle Micro-rayones, brillo y encerado
                    p.processDescription

            .section.section_6.process.protection#proteccion
                .processScene
                    span.imgAsset.paint
                        img(src="./assets/paint-cont@2x.png", alt="")
                    span.imgAsset.man.manProtection
                        img(src="./assets/man-protection@2x.png", alt="")
                .processContent
                    span.processIcon
                        img(src="./assets/icon-protection@2x.png", alt="")
                    h3.processTitle Protección de pintura
                    p.processDescription

            .section.section_7.process.inside#interior
                .processScene
                    span.imgAsset.steerWheel
                        img(src="./assets/interior-steer@2x.png", alt="")
                    span.imgAsset.steerPanel
                        img(src="./assets/interior-panel@2x.png", alt="")
                    span.imgAsset.man.manInterior
                        img(src="./assets/man-interior@2x.png", alt="")
                .processContent
                    span.processIcon
                        img(src="./assets/icon-interior@2x.png", alt="")
                    h3.processTitle Limpieza interior
                    p.processDescription

            .section.section_8.process.motor#motor
                .processScene
                    span.imgAsset.motorTable.table
                        img(src="./assets/motor-table@2x.png", alt="")
                    span.imgAsset.man.manMotor
                        img(src="./assets/man-motor@2x.png", alt="")
                .processContent
                    span.processIcon
                        img(src="./assets/icon-motor@2x.png", alt="")
                    h3.processTitle Embellecimiento de motor
                    p.processDescription
            
            .section.section_9.process.booking#booking
                .processContent
                    
                    h3.processTitle Reservar

            
                    

        script(type="text/javascript", src="main.js")
        






